
@main("Welcome to Play 2.1 New") {
<!DOCTYPE html>
<html>
<head>
    <title>Reader New</title> 
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />


<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      #myModal .modal-body {
	  	max-height: 600px;
      }
      #myModal {
		width: 1200px; 
		margin: 1px 0 0 -600px;
	  }
</style>

<script type="text/javascript">
$(document).ready(function() {

	var data =[
			['0','4G spaces','4G spaces','http://blog.youxu.info/feed/','http://blog.youxu.info'],
			['1','Ajaxian » Front Page','Ajaxian » Front Page','http://feeds.feedburner.com/ajaxian','http://ajaxian.com'],
			['2','Android Developers Blog','Android Developers Blog','http://android-developers.blogspot.com/atom.xml','http://android-developers.blogspot.com/'],
			['3','Apple4.us','Apple4.us','http://apple4.us/feed','http://apple4us.com'],
			['4','Autoblog 简体中文版','Autoblog 简体中文版','http://cn.autoblog.com/rss.xml','http://cn.autoblog.com'],
			['5','BlogJava-庄周梦蝶','BlogJava-庄周梦蝶','http://www.blog.fnil.net/index.php/feed','http://www.blog.fnil.net/index.php/feed'],
			['6','cnBeta.COM','cnBeta.COM','http://www.cnbeta.com/backend.php','http://www.cnbeta.com'],
			['7','Community : All Content - jBPM','Community : All Content - jBPM','http://community.jboss.org/community/feeds/allcontent?community=2034','https://community.jboss.org/community/jbpm'],
			['8','demo@@virushuo','demo@@virushuo','http://feeds2.feedburner.com/virushuo','http://blog.devep.net/virushuo/'],
			['9','digg.com: Top News','digg.com: Top News','http://digg.com/rss/index.xml','http://digg.com/rss/top.rss'],
			['10','Dot Mac','Dot Mac','http://dotmac.rationalmind.net/feed/','http://automagical.rationalmind.net'],
			['11','downpour','downpour','http://downpour.javaeye.com/rss','http://downpour.iteye.com'],
			['12','Dustin Diaz','Dustin Diaz','http://feeds.feedburner.com/WSwI','http://dustindiaz.com'],
			['13','Engadget','Engadget','http://www.engadget.com/rss.xml','http://www.engadget.com'],
			['14','Engadget 中国版','Engadget 中国版','http://cn.engadget.com/rss.xml','http://cn.engadget.com'],
			['15','Erlang-China','Erlang-China','http://erlang-china.org/feed','http://erlang-china.org'],
			['16','Ext JS Blog','Ext JS Blog','http://feeds.feedburner.com/extblog','http://www.sencha.com/blog/'],
			['17','FlexLive.net','FlexLive.net','http://www.flexlive.net/?feed=rss2','http://www.flexlive.net'],
			['18','Google 黑板报 - Google （谷歌）中国的博客网志，走近我们的产品、技术和文化','Google 黑板报 - Google （谷歌）中国的博客网志，走近我们的产品、技术和文化','http://googlechinablog.com/atom.xml','http://googlechinablog.blogspot.com/'],
			['19','htmlor blog','htmlor blog','http://blog.htmlor.com/feed/','http://blog.htmlor.com'],
			['20','[ i D | 公 社 ]','[ i D | 公 社 ]','http://feed.feedsky.com/hiid','http://www.hi-id.com'],
			['21','i, Claud','i, Claud','http://blog.claudxiao.net/feed/','http://www.claudxiao.net'],
			['22','iFanr 爱范儿 ♂专注于拇指设备的小众讨论','iFanr 爱范儿 ♂专注于拇指设备的小众讨论','http://www.ifanr.com/feed','http://www.ifanr.com'],
			['23','Juno Chen','Juno Chen','http://blog.163.com/clover1008/rss','http://clover1008.blog.163.com'],
			['24','Leica中文摄影杂志','Leica中文摄影杂志','http://feed.feedsky.com/leica','http://www.leica.org.cn/index.php'],
			['25','Mac Tips | 苹果贴士','Mac Tips | 苹果贴士','http://mactips.blogbus.com/index.rdf','http://mactips.blogbus.com'],
			['26','Official Selenium Blog','Official Selenium Blog','http://feeds.feedburner.com/Selenium','http://seleniumhq.wordpress.com'],
			['27','Rails Inside','Rails Inside','http://feeds.feedburner.com/RailsInside','http://www.railsinside.com'],
			['28','robbin的自言自语','robbin的自言自语','http://robbinfan.com/rss','http://robbinfan.com'],
			['29','Ruby on Rails','Ruby on Rails','http://feeds.feedburner.com/yeeyan/ror','http://www.yeeyan.com/groups/show/ror'],
			['30','Solidot','Solidot','http://feeds.feedburner.com/solidot','http://www.solidot.org'],
			['31','SpringSource Team Blog','SpringSource Team Blog','http://feeds.feedburner.com/Interface21TeamBlog','http://blog.springsource.org'],
			['32','SpringSource.org','SpringSource.org','http://www.springsource.org/node/feed','http://www.springsource.org'],
			['33','The Rails Way - Home','The Rails Way - Home','http://feedproxy.google.com/TheRailsWay','http://www.therailsway.com/'],
			['34','Tinyfool的Blog','Tinyfool的Blog','http://feeds.feedburner.com/Tinyfoolblog','http://pipes.yahoo.com/pipes/pipe.info?_id=2fe2193bf4bad427c14f3c5bae4cfcf6'],
			['35','TopLanguage Google Group','TopLanguage Google Group','http://groups.google.com/group/pongba/feed/rss_v2_0_msgs.xml','http://groups.google.com/group/pongba'],
			['36','Trustno1','Trustno1','http://trustno1.javaeye.com/rss','http://trustno1.iteye.com'],
			['37','wiisola','wiisola','http://wiisola.javaeye.com/rss','http://wiisola.iteye.com'],
			['38','《程序员》官方BLOG','《程序员》官方BLOG','http://blog.csdn.net/programmer_editor/Rss.aspx','http://blog.csdn.net/programmer_editor'],
			['39','云中漫步','云中漫步','http://my.unix-center.net/~Simon_fu/?feed=rss2','http://my.unix-center.net/~Simon_fu'],
			['40','冰云@@Blogging','冰云@@Blogging','http://feeds.feedburner.com/icecloud','http://icecloud.posterous.com'],
			['41','创意·设计·生活','创意·设计·生活','http://feed.feedsky.com/elandy','http://www.elandy.com.cn'],
			['43','威锋网新闻- 最新RSS订阅','威锋网新闻- 最新RSS订阅','http://news.weiphone.com/rss.xml','http://www.google.com/reader/view/feed%2Fhttp%3A%2F%2Fnews.weiphone.com%2Frss.xml'],
			['44','平凡的世界','平凡的世界','http://feed.ccvita.com/','http://www.ccvita.com/'],
			['45','广告放肆','广告放肆','http://feed.feedsky.com/digiart','http://adfuns.com/index.php'],
			['46','庄周梦蝶','庄周梦蝶','http://blog.fnil.net/index.php/feed','http://blog.fnil.net'],
			['47','影像日报 | MovieSoon.com 好莱坞电影手册','影像日报 | MovieSoon.com 好莱坞电影手册','http://mymovie.blogbus.com/index.rdf','http://mymovie.blogbus.com'],
			['48','技术奇异点','技术奇异点','http://sipoint.wordpress.com/feed/','http://sipoint.wordpress.com'],
			['49','柴静','柴静','http://blog.tianya.cn/blogger/rss.asp?BlogID=2569265','http://GE_chaijing.blog.tianya.cn/'],
			['50','每日小抄','每日小抄','http://feed.feedsky.com/mrxc','http://meirixiaochao.blog.163.com'],
			['51','每日英语','每日英语','http://english-feed.beanwoo.com/','http://blog.beanwoo.com/english'],
			['52','爱枣报','爱枣报','http://feeds.feedburner.com/izaobaofeed','http://www.izaobao.us'],
			['53','疯狂的设计','疯狂的设计','http://hi.baidu.com/madesign/rss','http://hi.baidu.com/madesign'],
			['54','结网','结网','http://feed.feedsky.com/liuhw','http://blog.liuhongwei.cn'],
			['55','胡长城（银狐999）BLOG','胡长城（银狐999）BLOG','http://blog.csdn.net/james999/Rss.aspx','http://blog.csdn.net/james999'],
			['56','译言-精品外文翻译','译言-精品外文翻译','http://feed.feedsky.com/yeeyan_top','http://www.yeeyan.com'],
			['57','豆瓣: MacBook+Pro+Air小组的讨论','豆瓣: MacBook+Pro+Air小组的讨论','http://www.douban.com/feed/group/MACBOOK/discussion','http://www.douban.com/group/MACBOOK/discussion'],
			['58','豆瓣: 苹果迷小组的讨论','豆瓣: 苹果迷小组的讨论','http://www.douban.com/feed/group/macintosh/discussion','http://www.douban.com/group/macintosh/discussion'],
			['59','负暄琐话','负暄琐话','http://feeds.feedsky.com/csdn.net/g9yuayon','http://blog.csdn.net/g9yuayon'],
			['60','透明思考 - Thoughts','透明思考 - Thoughts','http://gigix.agilechina.net/feed/atom.xml','http://gigix.thoughtworkers.org/'],
			['61','酷壳 - CoolShell.cn','酷壳 - CoolShell.cn','http://coolshell.cn/feed?source=ignitionforkhttp://coolshell.cn/feed?source=ignitionfork','http://coolshell.cn'],
			['62','阮一峰的网络日志','阮一峰的网络日志','http://feeds.feedburner.com/ruanyifeng','http://www.ruanyifeng.com/blog/'],
			['63','随便玩玩','随便玩玩','http://feed.feedsky.com/victorsos','http://www.zhengkun.org/blog'],
			['64','韩寒','韩寒','http://blog.sina.com.cn/rss/1191258123.xml','http://blog.sina.com.cn/twocold'],
			['65','JavaEye新闻','JavaEye新闻','http://www.javaeye.com/rss/news','http://www.iteye.com'],
			['66','Scala fineqtbull','fineqtbull','http://fineqtbull.iteye.com/rss','http://www.iteye.com'],
			['67','淘宝核心系统团队博客','淘宝核心系统团队博客','http://rdc.taobao.com/blog/cs/?feed=rss2', 'http://rdc.taobao.com/blog/cs/?feed=rss2'],
			['68', 'UC技术博客','UC技术博客', 'http://tech.uc.cn/?feed=rss2','http://tech.uc.cn/?feed=rss2'],
			['69', '结构之法 算法之道','结构之法 算法之道','feed://blog.csdn.net/v_july_v/rss/list','feed://blog.csdn.net/v_july_v/rss/list']
			
	];
	for ( var int = 0; int < data.length; int++) {
		var record = data[int];
		$('#rssList').append('<li class="list-group-item"><span class="badge">14</span><a href="#" onclick=\"parseRSS(\''+ record[3]+ '\');\">' + record[1] +'</a></li>');
		
		
	}
	debugger;
	/*  $.ajax({
		    url: '/RSS/app/ajax/list/getSubscriptions',
		    dataType: 'json',
		    success: function(data) {
		    		for(p in data) {
		    			$('#rssList').append('<li><a onclick=\"parseRSS(\''+ data[p]+ '\');\">' + p +'</a></li>');
		    		}
		    }
	 });  */
	
	
	// var dataBase = openDatabase("RSS", "1.0", "Rss table", 1024 * 1024, function () { });
	// 	if (!dataBase) {
	// 		alert("数据库创建失败！");
	// 	} else {
	// 		alert("数据库创建成功！");
	// 	} 
	// 	
	// 	createTable=function() {
	// 		dataBase.transaction( function(tx) { 
	// 			tx.executeSql("create table if not exists address (id REAL UNIQUE, title TEXT, name TEXT, xmlUrl TEXT, htmlUrl TEXT, userId TEXT)", 
	// 						[], 
	// 						function(tx,result){ alert('创建address表成功'); }, 
	// 						function(tx, error){ alert('创建address表失败:' + error.message); 
	// 			});
	// 		});
	// 	}; 
	// 	createTable();
	// 	
	// 	insert = function () {
	// 		dataBase.transaction(function (tx) {
	// 		tx.executeSql(
	// 		"insert into stu (id, title, name, xmlUrl, htmlUrl, userId) values(?, ?, ?, ?, ?)",
	// 		['02', 'abc'],
	// 			function () { alert('添加数据成功'); },
	// 			function (tx, error) { alert('添加数据失败: ' + error.message); 
	// 			} );
	// 		});
	// 	};
	// 	insert(); 
});
function createCollapseStyle(e, i) {
	
		var content = '<div class="panel-group" id="accordion">';
				content += 	'<div class="panel panel-default">';
				content += 		'<div class="panel-heading">';
				content +=			'<h4 class="panel-title">';
				content +=				'<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#' + i + '">';
				content +=				 e.title;
				content +=				'</a>';
				content +=			'</h4>';
				content +=		'</div>';
				content +=	'<div id="' + i + '" class="panel-collapse collapse">';
				content +=		'<div class="panel-body">';
				
				content +=			'<h4><a target="_blank" href="' + e.link + '">' + e.title +'</a></h4><p>' + e.author + '</p>' + e.content;
				content +=		'</div>';
				content +=	'</div>';
				content +=	'</div>';
				content +=	'</div>';

		return content;
}
function parseRSS(url, callback) {
	   $.ajax({
	    url: 'http://ajax.googleapis.com/ajax/services/feed/load?q=' + encodeURIComponent(url) + '&v=1.0&num=50&callback=?',
	    dataType: 'json',
	    success: function(data) {
	    	 	if(	$('#majorLayout')) {
	    	 		$('#majorLayout').empty();
	    	 	}
	    		var rows = '';
	    		if (data.responseData.feed && data.responseData.feed.entries) {
	    			$.each(data.responseData.feed.entries, function (i, e) {
	    				rows += createCollapseStyle(e, i);
	    	      	}); 
	    	    }
	    		
	    		 $('#majorLayout').append(rows);
	    }
	  }); 
	}
	
</script>
</head>

<body>
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" style='height:800px; position:relative;overflow:auto' data-spy="scroll"  data-offset="0">
		<ul id="rssList" ></ul>
	</div>
	<div class="col-xs-12 col-sm-9" style='height:800px; position:relative;overflow:auto' data-spy="scroll"  data-offset="0">
		<div id="majorLayout" >
		</div>
	</div>
</body>
</html>
}